@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
.App {
  background: #136a8a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-family: 'Nunito', sans-serif;
}

.searchForm {
  padding: 1rem;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 50%;
  border: none;
  padding: 10px;
}

.searchButton {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  border: none;
  color: black;
  font-weight: 500;
  padding: 10px;
}

.padding {
  padding-top: 2rem;
}

.RecipeCard {
  /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.footerText {
  color: white;
}

.faIcon {
  color: red;
}

.myName {
  background: -webkit-linear-gradient(#b1f4cf, #ace0f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nameLink:hover {
  text-decoration-color: #ace0f9;
}